<div class="display-header">
    <h2 class="display-header__title">@Title</h2>
    <p class="display-header__description">@Description</p>
</div>

@code 
{
    [Parameter] public string Title { get; set; } = "";
    [Parameter] public string Description { get; set; } = "";
}