.personal-info {
    height: 100%;
}

.personal-info__title {
    margin: 40px 0 11px;
}

.personal-info__description {
    margin-bottom: 35px;
}

.personal-info__input {
    display: grid;
    gap: 8px;
    margin-bottom: 24px;

    &:last-child {
        margin-bottom: 0;
    }
}

.personal-info__input label {
    display: flex;
    justify-content: space-between;
}

.personal-info.hide {
    display: none;
}
