.plan-card {
    display: flex;
    gap: 14px;
    padding: 16px;
    border: 1px solid #D6D9E6;
    border-radius: 8px;
}

.plan-card:hover {
    cursor: pointer;
    border-color: #483EFF;
}

.plan-card.selected {
    background-color: #F8F9FF;
    border-color: #483EFF;
}

.plan-card__data h2 {
    color: #022959;
}

.plan-card__data span {
    color: #9699AA;
}