.plan-card {
    display: flex;
    gap: 14px;
    padding: 16px;
    border: 1px solid #D6D9E6;
    border-radius: 8px;
}

@media screen and (min-width: 730px) {
    .plan-card {
        flex-direction: column;
        justify-content: space-between;
    }
}

.plan-card:hover {
    cursor: pointer;
    border-color: #483EFF;
}

.plan-card.selected {
    background-color: #F8F9FF;
    border-color: #483EFF;
}

.plan-card img {
    width: 40px;
    height: 40px;
}

.plan-card__data h2 {
    color: #022959;
    font-size: 1rem;
}

.plan-card__data span {
    color: #9699AA;
}