<div class="controls-container">
    <div class="display-controls">
        <button class="btn btn--back @(CurrentStep == 0 ? "hide" : "")" @onclick="OnBack">Go Back</button>
        @if (CurrentStep == 0)
        {
            <button class="btn btn--next" type="submit" form="personal-info-form">Next Step</button>
        }
        else
        {
            <button class="btn btn--next" type="button" @onclick="OnNext">Next Step</button>
        }
    </div>
</div>

@code {
    [Parameter] public EventCallback OnNext { get; set; }
    [Parameter] public EventCallback OnBack { get; set; }
    [Parameter] public int CurrentStep { get; set; }
}
