
<div class="multi-step__display">
    <PersonalInfoDisplay CurrentStep="CurrentStep" OnValidSubmit="OnValidSubmit" />
</div>

@code
{
    [Parameter] public int CurrentStep { get; set; }
    [Parameter] public EventCallback OnValidSubmit { get; set; }
}
