.multi-step__display {
    position: relative;
    padding: 32px 24px;
    background: #fff;
    z-index: 2;
    border-radius: 10px;
    margin-top: clamp(34px, calc(-63px + 25.84vw), 180px);
}

@media screen and (min-width: 950px) {
    .multi-step__display {
        margin: 0;
        padding: 0;
        width: 450px;
    }
}
