
<div class="multi-step__display">
    @if (CurrentStep == 0)
    {
        <PersonalInfoDisplay OnValidSubmit="OnValidSubmit"/>
    }
    else if (CurrentStep == 1)
    {
        <SelectPlanDisplay @bind-SelectedCardId="_selectedPlanId" />
    }
    else if (CurrentStep == 2)
    {
        <AddOnsDisplay @bind-SelectedAddOnIds="_selectedAddOnIds" />
    }
    else if (CurrentStep == 3)
    {
        <FinishingUpDisplay SelectedPlan="_selectedPlanId" SelectedAddOns="_selectedAddOnIds" />
    }
    
</div>

@code
{
    private int _selectedPlanId;
    private HashSet<int> _selectedAddOnIds = [];

    [Parameter] public int CurrentStep { get; set; }
    [Parameter] public EventCallback OnValidSubmit { get; set; }
}
