<div class="display-controls">
    <button class="btn btn--back @(CurrentStep == 0 ? "hide" : "")" @onclick="OnBack">Go Back</button>
    <button class="btn btn--next" @onclick="OnNext">Next Step</button>
</div>

@code {
    [Parameter] public EventCallback OnNext { get; set; }
    [Parameter] public EventCallback OnBack { get; set; }
    [Parameter] public int CurrentStep { get; set; }
}