
<div class="multi-step__display">
    @if (CurrentStep == 0)
    {
        <PersonalInfoDisplay OnValidSubmit="OnValidSubmit"/>
    }
    else if (CurrentStep == 1)
    {
        <SelectPlanDisplay @bind-SelectedCardId="_selectedPlanId" />
    }
    else if (CurrentStep == 2)
    {
        <AddOnsDisplay />
    }
    
</div>

@code
{
    private int _selectedPlanId;

    [Parameter] public int CurrentStep { get; set; }
    [Parameter] public EventCallback OnValidSubmit { get; set; }
}
