<div class="thanks">
    <img src="images/icon-thank-you.svg" alt="thank you image"/>
    <h3>Thank you!</h3>
    <p>Thanks for confirming your subscription! We hope you have fun using our platform. If you ever need support, please feel free to email us at support@loremgaming.com.</p>
</div>

@code 
{
    
}