* {
    box-sizing: border-box;
    margin: 0;
}
body {
    background: #EFF5FF;
    font-family: "Ubuntu", sans-serif;
    height: 100vh;
}

.personal-info__text-input {
    padding: 12px 16px;
    border: 1px solid #D6D9E6;
    border-radius: 4px;
    font-size: 1rem;
    color: #9699AA;
}

.main-section {
    position: relative;
    max-width: min(700px, calc(100% - 1rem));
    margin-inline: auto;
    height: 100%;
}

.thanks {
    margin: calc(clamp(79px, calc(11px + 18.1vw), 181px) - 16px) auto 79px;
    text-align: center;
}

.thanks h3 {
    font-size: 32px;
    color: #022959;
    margin: 32px 0 14px;
}

.thanks p {
   width: 100%;
    text-align: center;
    color: #9699AA;
    line-height: 1.6;
}

@media screen and (min-width: 950px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .multi-step {
        display: flex;
        padding: 16px;
        background-color: #fff;
        width: 940px;
        height: 600px;
        border-radius: 15px;
    }

    .main-section {
        flex-grow: 1;
        margin: 0 84px 0 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}
