@page "/"

<PageTitle>MultiStep Form</PageTitle>

<main class="multi-step">
    <StepIndicatorDisplay />
    <section class="main-section">
        <StepDisplay />
        <StepDisplayControls />
    </section>
</main>