@page "/"

<PageTitle>MultiStep Form</PageTitle>

<main class="multi-step">
    <StepIndicatorDisplay CurrentStep="@(_currentStepIndex + 1)" />
    <section class="main-section">
        <StepDisplay CurrentStep="_currentStepIndex" OnValidSubmit="@NextDisplay" />
        <StepDisplayControls
            OnNext="@NextDisplay"
            OnBack="@PreviousDisplay"
            CurrentStep="_currentStepIndex"
        />
    </section>
</main>

@code 
{
    private int _currentStepIndex = 0;

    private void NextDisplay()
    {
        _currentStepIndex = Math.Min(StepsData.Steps.Length, _currentStepIndex + 1);
    }

    private void PreviousDisplay()
    {
        _currentStepIndex = Math.Max(0, _currentStepIndex - 1);
    }
}
